<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/calculator.css">
    <script src="/js/calculator/app.js" defer></script>
    <title>Personal Portfolio | Projects | Calculator</title>
</head>
<body>
    <div class="calculator-grid">
        <div class="output">
            <div data-previous-operand class="previous-operand"></div>
            <div data-current-operand class="current-operand"></div>
        </div>
        <button data-all-clear class="ac-btn span-two">AC</button>
        <button data-delete class="del-btn">DEL</button>
        <button data-operation class="operation-btn">/</button>
        <button data-digit>1</button>
        <button data-digit>2</button>
        <button data-digit>3</button>
        <button data-operation class="operation-btn">x</button>
        <button data-digit>4</button>
        <button data-digit>5</button>
        <button data-digit>6</button>
        <button data-operation class="operation-btn">+</button>
        <button data-digit>7</button>
        <button data-digit>8</button>
        <button data-digit>9</button>
        <button data-operation class="operation-btn">-</button>
        <button data-digit>.</button>
        <button data-digit>0</button>
        <button data-equal class="equal-btn span-two">=</button>
    </div>
</body>
</html>